.container-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 55%;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.h1-login{
    display: flex;
    flex-direction: row;
    gap: 2px;
    
}
.h1-login img{
    margin-top: 6px;
}
#nome1{
    color: #3B3B3B;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#nome2{
    color: #235789;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.menu-login span{
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    text-align: center;
    width: 460px;
    
}
.menu-login form{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 530px;
    align-items: center;
}
.inputarea{
    padding: 7px 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid #C1BBBB;
    background: #FFF;
    transition: all ;
    width: 100%;
    max-width: 450px
}
.inputarea:hover{
    border-left: 4px solid #235789;
}
.inputarea label{
    color: rgba(0, 0, 0, 0.61);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.inputarea input{
    border: 0;
    margin-top: 8px;
    color: #235789;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.btnRespo{
    display: flex;
    height: 120px;
    align-items: center;
    gap: 60px;
}
.menu-login form button{
    
    border: 0;
    padding: 15px;
    width: 100px;
    font-family: Poppins;
    font-size: 16px;
    color: #235789;
    background: #fff;
    border: 1px solid #235789;
    transition: all 0.3s;
}
.menu-login form button:hover{
    background: #235789;
    color: #fff;
}
.imagem-nuvem{
    height: 100vh;
    width: 45%;
    background: radial-gradient(72.53% 75.59% at 50.00% 50.00%, rgba(255, 255, 255, 0.41) 16.55%, rgba(243, 243, 243, 0.41) 32.78%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-btn{
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    font-size: 16px;
    width: 100px;
    font-family: Poppins;
    color: #235789;
    border: 1px solid #235789;
    transition: all 0.3s;
}
.register-btn:hover{
    background: #235789;
    color: #fff;
}
.inputSenha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .menu-login{
        width: 100%;
        gap: 25px;
    }
    #nome1, #nome2{
        font-size: 50px;
    }
    .h1-login img{
        width: 70px;
        height: 70px;
    }
    .imagem-nuvem{
        display: none;
    }
    .menu-login span{
        font-size: 18px;
    }
    .menu-login form{
        width: 80%;
    }
    .inputarea input{
        font-size: 15px;
    }
    .btnRespo{
        height: 100px;
    }
    .menu-login form button {
        font-size: 15px;
        padding: 10px;

    }
    .register-btn{
        font-size: 15px;
        padding: 10px;
    }
}