.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin: 0 30px;
}

#nomeHeader{
    color: #3B3B3B;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h1-login{
    cursor: pointer;
}
#nomeHeader2{
    color: #235789;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nome-perfil{
    margin-top:17px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nome-perfil span{
    color: #235789;
    font-family: Poppins;
    font-size: 18px;
    
}
.nome-perfil img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.nome-perfil button{
    margin-left: 20px;
    border: 0;
    background-color: #fff;
    color: #235789;
    font-family: Poppins;
    padding: 5px 8px;
    font-size: 18px;
    transition: all;
}
.nome-perfil button:hover{
    background-color: #235789;
    color: #fff;
    cursor: pointer;
}
.line{
    margin: 0 auto;
    width: 95%;
    height: 1px;
    background-color:#B1B1B1 ;
}

@media (max-width: 500px){
    .main{
        display: flex;
    }
    .header{
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    #nomeHeader #nomeHeader2{
        font-size: 22px;
    }
    .h1-login{
        text-align: center;
        justify-content: center;
    }
    #img-header{
        width: 45px;
        height: 45px;
    }
    .nome-perfil{
        margin-top: 0;
        margin-right: 0;
        justify-content: center;
    }
    .nome-perfil img{
        
    }
    .nuvem-img{
        display: none;
    }
    .conteudo-home{
        width: 100%;
    }
    .conteudo-home h1{
        text-align: center;
        font-size: 40px;
    }
    .txt-home{
        width: 80%;
        gap: 3.5em;
    }
    .img-brilho{
        text-align: center;
    }
    .img-brilho img{
        padding: 0;
        width: 300px;
        height: 200px;
    }
    .conteudo-home{
        margin-top: 3.5em;
    }
}