.container-exercicios{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    margin-top: 5em;
    

}
.titulo{
    width: 40%;
    background-color: #235789;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo h1{
    font-family: Poppins;
    color: #FDFFFC;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    margin: 20px;
}
.alternativas{
    background-color: #BDBDBD;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.alt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 90px;
    background-color: #EEE;
    
}
.alt button{
    width: 100%;
    height: 100%;
    border: 0;
    font-family: Poppins;
    font-weight: 450;
    font-size: 18px;
    background-color: #EEE;
}
.alt button:hover{
    background-color: #235789;
    color: #fff;
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
}
footer img{
    bottom: 0;
}
.botoes-proxAnt{
    width: calc(100% - 186px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.botoes-proxAnt button{
    font-family: Poppins;
    font-weight: 500;
    font-size: 21px;
    color: #333;
    padding: 8px 16px;
    background-color: #E6AACE;
    border: 0;
}
@media (max-width: 500px){
    .container-exercicios{
        flex-direction: column;
        gap: 20px;
    }
    .titulo{
        width: 100%;
    }
    .titulo h1{
        text-align: center;
    }
    .alternativas{
        width: 100%;
    }
    .botoes-proxAnt{
        width: 100%;
    }
    footer img{
        display: none;
    }
    .finalizar-div h1{
        text-align: center;
    }
    
}
